<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>垂直居中</title>
    <style type="text/css">
        .box{
            width: 400px;
            height: 200px;
            background: #f99;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .box1{
            width: 200px;
            height: 100px;
            background: green;
        }
        .center{

        }
    </style>
</head>
<body>
    <div class="box ">
        <div class="box1">

        </div>
    </div>
</body>
</html>
--------------------- 
作者：25King 
来源：CSDN 
原文：https://blog.csdn.net/u012426959/article/details/79395132 
版权声明：本文为博主原创文章，转载请附上博文链接！